@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #F4F6F8;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #cbd5e1; }

@media print { .print\:hidden { display: none !important; } }
